django==2.2.18
Pillow 
pylint
pylint-django
django-bootstrap4
django-bower
django-bootstrap-datepicker
django-bootstrap-datepicker-plus
django-ckeditor
django-ajax-selects
django-mailgun
django-tables2
PyPDF2
python-dateutil
reportlab
html5lib
icalendar
xlwt
xlrd
pandas
psycopg2==2.7.5
django-glrm
djangorestframework