{% extends 'core/base2.html' %}
{% load static %}
{% block title %}Admin Reciclaje{% endblock %}
{% block content %}
{% block extrahead %}
    <script src="{% static 'core/vendor/jquery/jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'core/js/envia.js' %}"></script>
{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3 border">
                <h3>Bienvenido {{request.user.first_name}} {{request.user.last_name}} </h3> 
                <div class="row mt-4 mb-4">
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'users_main' %}" class="btn btn-danger form-control">Gestión Usuarios</a>               
                    </div>                   
                </div>
            </div>
        </div>
    </main>
{% endblock %}
