{% extends 'core/base.html' %}
{% load static %}
{% block title %}User | Management{% endblock %}
{% block content %}
{% block extrahead %}
    <script src="{% static 'core/vendor/jquery/jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'core/js/envia.js' %}"></script>
{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3 border">
                <h3>Listado Perfil {{group.name}} </h3> 
                <div class="row mt-4 mb-4">
                    {% if group.id == 2 %}
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'crear_reciclador' group.id %}" class="btn btn-danger form-control">Crear Reciclador</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'lista_reciclador' group.id %}" class="btn btn-danger form-control">Lista Reciclador</a>
                    </div>
                    {% endif %}
                    {% if group.id == 3 %}
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'crear_recolector' group.id %}" class="btn btn-danger form-control">Crear Recolector</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'lista_recolector' group.id %}" class="btn btn-danger form-control">Lista Recolector</a>
                    </div>
                    {% endif %}
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'list_user_active' group.id %}" class="btn btn-danger form-control">Activos</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'list_user_block' group.id %}" class="btn btn-danger form-control">Bloqueados</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'users_main' %}" class="btn btn-danger form-control">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
