{% extends 'core/base.html' %}
{% load static %}
{% block title %}User | Management{% endblock %}
{% block content %}
{% block extrahead %}
    <script src="{% static 'core/vendor/jquery/jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'core/js/envia.js' %}"></script>
{% endblock %}




{% endblock %}